.img{
    width: 500px;
    height: 500px;
}
.mainclass {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  height: 2100px; 
}
h1{
    text-align: center;
    font-size: 5cqi;
}
.word span {
    display: inline-block;
    font-size: 5cqi;
    margin-right: 80px;
    animation: jump 0.6s ease infinite alternate;
}

    .word span:nth-child(1) { animation-delay: 0s; }
    .word span:nth-child(2) { animation-delay: 0.1s; }
    .word span:nth-child(3) { animation-delay: 0.2s; }
    .word span:nth-child(4) { animation-delay: 0.3s; }
    .word span:nth-child(5) { animation-delay: 0.4s; }

@keyframes jump {
    from { transform: translateY(0); }
    to   { transform: translateY(-20px); }
}

body {
        background-color: green;
}


h1 {
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 10px black;
  transition: transform 0.5s;
}

h1:hover {
  transform: scale(1.1);
}



.goa-btn {
  background-color: black;
  color: limegreen;
  border: 2px solid lime;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.goa-btn:hover {
  background-color: lime;
  color: black;
  transform: scale(1.1);
}
