body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* NAVBAR */
.navbar {
    background-color: #0f172a;
    padding: 15px 40px;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #38bdf8;
    color: #0f172a;
}

/* BUTTON */
.goa-btn {
    display: inline-block;
    margin: 30px auto;
    padding: 12px 25px;
    background-color: #38bdf8;
    color: #0f172a;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

.goa-btn:hover {
    background-color: #0f172a;
    color: white;
}
