body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #a4cd1e;
    padding: 20px;
    text-align: left;
    font-weight: bold;
}

.container {
    display: flex;
    height: 300px;
}

article {
    flex: 2;
    background-color: white;
    padding: 20px;
}

aside {
    flex: 1;
    background-color: #fcf8e3;
    padding: 20px;
}

nav {
    flex: 1;
    background-color: #d9ead3;
    padding: 20px;
}