body {
    background-color: lightblue;
    color: tomato;
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 120px;
    margin-top: 120px;
    border: 10px solid black;
    border-radius: 65px;
    padding-block-end: 10px;
    padding-block-start: 10px;
    border-left-color: blue;
    border-right-color: brown;
    border-top-color: green;
    border-bottom-color: red;
    
}