body {
  align-items: end;
  margin: 50px;
  background-color: #0C1527;
  display: flex;
}

.circle-yellow {
  width: 40px;
  height: 40px;
  background-color: #FFA310;
  border-radius: 50%;
  animation-name: pulse;
  animation-duration: 3s;
}

.circle-green {
  width: 100px;
  height: 100px;
  top: 120px;
  left: 30px;
  background-color: #10FF14;
  border-radius: 50%;
  position: absolute;
  animation-name: pulse;
  animation-duration: 3s;
}

.circle-blue {
  left: 170px;
  top: 15px;
  width: 60px;
  height: 60px;
  background-color: #1064FF;
  border-radius: 50%;
  position: absolute;
  animation-name: pulse;
  animation-duration: 3s;
}

.visual {
  position: relative;
  width: 50px;
  height: 50px;
  display: inline;
}

@keyframes pulse {
  0% { transform: scale(1);}
  50% { transform: scale(2);}
  100% { transform: scale(1);}
}