p {
  font-size: x-large;
  color: white;
  width: 40%;
  background-color: lawngreen;
  transition: all 3s; /* ყველა ცვლილებას გადასვლის ანიმაცია ექნება */
}

p:active {
  width: 100%;
  transform: translateX(200px); /* მარჯვნივ გადაადგილება */
}
