p{
    height: 100px;
    background-color: blue;
    width: 100px;
    transition: width 1s,height 1s,background-color 1s;

}

p:active{
    width: 100%;
    height: 1000px;
    background-color: turquoise;
}
